<div class="top-row">
    <a>&nbsp;</a>
    <a class="fake-link pull-right">
        {% if modify_app %}
            <strong>Modify the Applications　<i class="fa fa-edit fa-fw"></i></strong>
        {% else %}
            <strong>Add Applications　<i class="fa fa-plus-circle fa-fw"></i></strong>
        {% endif %}
    </a>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if modify_app %}
                    <h4>Modify the Applications</h4>
                {% else %}
                    <h4>Add the Applications</h4>
                {% endif %}
            </div>

            <div class="panel-body">
                <form id="application-form" class="form form-vertical" data-toggle="validator" role="form">
                    {% csrf_token %}
                    {% if modify_app %}
                        <input name="id" type="text" style="display: none;" value="{{ app.id }}">
                    {% endif %}

                    <div class="control-group row">
                        <div class="col-sm-6 form-group">
                            <label class="control-label" for="name-field">Name</label>
                            <input id="name-field" name="name" type="text" class="form-control"
                                   value="{{ app.name }}" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label" for="wx_id-field">Movie Link</label>
                            <input id="wx_id-field" name="wx_id" type="text" class="form-control"
                                   placeholder="" value="{{ app.official_account.wx_id }}" required>
                        </div>
                    </div>
                    <div class="control-group row">
                        <div class="col-sm-12 form-group">
                            <label class="control-label" for="description-field">Description</label>
                            <textarea id="description-field" name="description" class="form-control"
                                      style="resize: vertical;">{{ app.description }}</textarea>
                        </div>
                    </div>
                    <div class="control-group row">
                        <div class="col-sm-12 form-group">
                            <label class="control-label" for="association-field">Score You Give(5 most)</label>
                            <select id="association-field" name="association" class="form-control">
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                                <option value="0">0</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group row">
                        <div class="col-sm-6 form-group">
                            <label class="control-label" for="manager_name-field">Name</label>
                            <input id="manager_name-field" readonly="readonly" name="manager_name" type="text"
                                   class="form-control" value="{{ student.real_name }}">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label" for="manager_student_id-field">Number ID</label>
                            <input id="manager_student_id-field" readonly="readonly" name="manager_student_id"
                                   type="text" class="form-control" value="{{ student_id }}">
                        </div>
                    </div>
                    <div class="control-group row">
                        <div class="col-sm-6 form-group">
                            <label class="control-label" for="manager_tel-field">Tel</label>
                            <input id="manager_tel-field" readonly="readonly" name="manager_tel" type="text"
                                   class="form-control" value="{{ student.tel }}">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label" for="manager_email-field">Mail</label>
                            <input id="manager_email-field" readonly="readonly" name="manager_email" type="email"
                                   class="form-control" value="{{ student.email }}">
                        </div>
                    </div>
                    <div class="control-group row">
                        <div class="col-sm-6 form-group">
                            <label class="control-label" for="manager_dept-field">Sex</label>
                            <input id="manager_dept-field" readonly="readonly" name="manager_dept" type="text"
                                   class="form-control" value="{{ student.dept }}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label></label>

                        <div class="form-error-msg alert alert-danger alert-dismissible">
                            <div></div>
                        </div>

                        <div class="controls">
                            <button type="submit" value="submit" class="btn btn-primary form-btn">
                                Submit
                            </button>
                            <input class="form-method" name="method" value="submit" style="display: none;">
                            <button type="submit" value="save" class="btn btn-info form-btn">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
                <script>
                    {% if modify_app %}
                        var url = "{% url 'api/student_modify_application' %}";
                    {% else %}
                        var url = "{% url 'api/submit_application' %}";
                    {% endif %}
                    handleFormPost("#application-form", url, {
                        success_msg: function (data) {
                            var method = "Submit";
                            if (data.hasOwnProperty("submit_method"))
                                method = data.submit_method === "submit" ? "Submit" : "Save";
                            if (data.status === "ok") return method + " Sucess!！";
                            return "";
                        },
                        success_callback: function (data) {
                            if (data.status === "ok") {
                                setTimeout(function () {
                                    loadContentOfItem("#my-applications-item", function () {
                                        var item = $("#application-list").find("tbody").find("tr:nth-last-of-type(1)");
                                        animate(item, "flash");
                                    });
                                }, 1000);
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
