{% extends 'common/sortable.html' %}

{% block title %}Application{% endblock title %}

{% block defaults %}
    url: "{% url 'admin/official-accounts-list' 'official_accounts' %}",
    sort_by: "wx_id",
    sort_order: "asc",
    search_field: "name"
{% endblock defaults %}

{% block head %}
    <th class="th-sortable" data-key="name" style="width: 15%; min-width: 120px">
        Name
    </th>
    <th class="th-sortable" data-key="wx_id" style="width: 15%; min-width: 110px">
        Manager
    </th>
    <th style="width: 35%; min-width: 110px">Link</th>
{% endblock head %}
